main{
    max-width: 1400px;
    margin-left:3%;
}
.container{
    display:flex;
    justify-content: center;
    align-content: center;
}
.line{
    width:21rem;
    height:2px;
    background: black;
    margin-top: 20px;
}
.form-names{
    display: flex;
    gap:19%;
    max-width: 1400px;
    justify-content: space-between;
    margin-left: -30px;
}
.numbers{
    width:40px;
    height:35px;
    border-radius: 50%;
    background-color: rgba(180, 172, 172, 0.299);
    text-align: center;
    padding-top: 10px;
    border: 2px solid black;
}
.buttons{
    display: flex;
    gap: 100px;
    margin-top: 50px;
}
#description{
    text-align: center;
    font-size: 1rem;
}
#delivered-name{
    margin-right:-40px;
    margin-left: 40px;
}
@media screen and (max-width:700px){
    .form-names{
        gap:14%;
    }
}
@media screen and (max-width:400px){
    .form-names{
        gap:6%;
    }
}